<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <title>顾客</title>
    <link href="../../statics/css/default.css" rel="stylesheet" type="text/css" />
    <!--必要样式-->
    <link href="../../statics/css/styles.css" rel="stylesheet" type="text/css" />
    <link href="../../statics/css/demo.css" rel="stylesheet" type="text/css" />
    <link href="../../statics/css/loaders.css" rel="stylesheet" type="text/css" />
    <link href="../../statics/layui/css/layui.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="statics/images/favicon.ico" type="image/x-icon">
    <style type="text/css">

    </style>
</head>
<body>
<div class="showcontent">
<ul class="layui-timeline">
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">8月18日</h3>
            <p>
                layui 2.0 的一切准备工作似乎都已到位。发布之弦，一触即发。
                <br>不枉近百个日日夜夜与之为伴。因小而大，因弱而强。
                <br>无论它能走多远，抑或如何支撑？至少我曾倾注全心，无怨无悔 <i class="layui-icon"></i>
            </p>
        </div>
    </li>
    <div id="test">


    </div>


</ul>
</div>
<script type="text/javascript" src="../../statics/layui/layui.js"></script>
<script type="text/javascript" src="../../statics/js/jquery.min.js"></script>
<script type="text/javascript" src="../../statics/js/Particleground.js"></script>
<script type="text/javascript">
    //粒子背景特效
    $('body').particleground({
        dotColor: '#E8DFE8',
        lineColor: '#133b88'
    });
</script>
<script type="text/javascript" src="../../statics/js/common/config.js"></script>
<!--登陆逻辑 js代码-->
<script type="text/javascript" src="../../statics/js/cus/showcustomer.js"></script>
</body>
</html>