<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <title>顾客</title>
    <link href="../../statics/css/default.css" rel="stylesheet" type="text/css" />
    <!--必要样式-->
    <link href="../../statics/css/styles.css" rel="stylesheet" type="text/css" />
    <link href="../../statics/css/demo.css" rel="stylesheet" type="text/css" />
    <link href="../../statics/css/loaders.css" rel="stylesheet" type="text/css" />
    <link href="../../statics/layui/css/layui.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="statics/images/favicon.ico" type="image/x-icon">
    <style type="text/css">
        .expand {
            opacity: 0.6;
        }
    </style>
</head>
<body>
<div class="showcontent">
<ul class="layui-timeline">

</ul>
</div>
<script type="text/javascript" src="../../statics/layui/layui.js"></script>
<script type="text/javascript" src="../../statics/js/jquery.min.js"></script>
<script type="text/javascript" src="../../statics/js/Particleground.js"></script>
<script type="text/javascript">
    //粒子背景特效
    $('body').particleground({
        dotColor: '#E8DFE8',
        lineColor: '#133b88'
    });
</script>
<script type="text/javascript" src="../../statics/js/common/config.js"></script>
<!--登陆逻辑 js代码-->
<script type="text/javascript" src="../../statics/js/cus/showcustomer.js"></script>
</body>
</html>